.tree-box
{
    height: calc( 100% - 50px ); 
    max-height: calc( 100% - 50px ); 
    width: 100%; 
    border: black 1px solid;     
}

.tree-split
{
    width: 10px;
}

.tree-svg-icon
{
    width: 16px !important;
    height: 16px !important;
    margin-right: 8px;
}