.property-line
{
    min-width:      400px;
    border-color:   black;
    border-top:     1px;
    border-left:    1px;
    border-right:   1px;
    border-style:   solid;
}

.property-label
{
    min-width:      200px;
    border-right:   1px;
    border-color:   black;
    border-style:   dashed;
}

.property-value
{
    min-width:      200px;
}
