<div style="height: 100%;"><mbs-generic-table filterColor="black,green" [dataSource]="dataSource" 
            [columns]="columns" [resize]="true" [autoRefresh]="10">
    <div mbsCrudHeaderTitle>Overview</div>
    <div mbsCrudHeaderButton>
        <mbs-table-button fontSet="fas" fontIcon="fa-print" tooltip="Print some data" (click)="onClick( $event )"></mbs-table-button>
        <mbs-table-button fontSet="fas" fontIcon="fa-info" tooltip="More information" (click)="onClick( $event )"></mbs-table-button> 
        <mbs-table-button fontSet="fas" fontIcon="fa-question-circle" tooltip="Help me" mbsHelpTrigger="general"></mbs-table-button> 
    </div>
    <div mbsCrudFooterTitle>Footer info</div>
    <div mbsCrudFooterButton>
        <mbs-table-button fontSet="fas" fontIcon="fa-print" tooltip="Print some data" (click)="onClick( $event )"></mbs-table-button>
    </div>
</mbs-generic-table></div>