<div class="max-window" mbsOnePage mbsTheme="worldline-theme">
    <div #header_content class="content-header">
        <mbs-header color="primary">
            <header-logo>
                <img src="/assets/logo.png" height="48">
            </header-logo>
            <header-title>
                <span class="header-title">{{ title }}</span>
            </header-title>
            <header-right>
                <button mat-icon-button [matMenuTriggerFor]="menu"
                        aria-label="Example icon-button with a menu">
                    <mat-icon>contrast</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <mbs-theme-select></mbs-theme-select>
                </mat-menu>
                <button mat-icon-button class="header-buttons" aria-label="Example icon-button with heart icon">
                    <mat-icon>language</mat-icon>
                </button>
                <button mat-icon-button class="header-buttons" aria-label="Example icon-button with share icon">
                    <mat-icon>person</mat-icon>
                </button>  
            </header-right>
        </mbs-header>
        <mbs-newsbar></mbs-newsbar>
        <mbs-menubar>
        </mbs-menubar>
    </div>
    <div #window_content class="content-window">
        <router-outlet></router-outlet>
        <mbs-vtoolbar color="primary" mode="regular" orientation="right">
            <mbs-icon-button color="primary">
                <mat-icon>home</mat-icon>
            </mbs-icon-button>
        </mbs-vtoolbar>
    </div>
    <div #footer_content>
        <mbs-footer color="accent">
            <footer-center>&copy; Copyright 2025 by PE2MBS - Marc Bertens-Nguyen</footer-center>
            <footer-right>
                <div style="padding-top: 10px;">
                    <mbs-icon-button [matMenuTriggerFor]="applicInfoMenu">
                        <mat-icon>privacy_tip</mat-icon>
                    </mbs-icon-button>
                    <mat-menu #applicInfoMenu="matMenu">
                        <ul>
                            <li class="app-version-info"><label>Release: {{version.release.name}}.{{version.release.build}}</label></li>
                            <li class="app-version-info"><label>Date: {{version.release.date}}</label></li>
                            <li class="app-version-info"><label>frontend version: {{version.frontend.version}}</label></li>
                            <li class="app-version-info"><label>backend version: {{version.backend.version}}</label></li>
                        </ul>
                    </mat-menu>
                </div>
            </footer-right>
        </mbs-footer>
    </div>
</div>
