@import '~@angular/material/_theming';

//  Define a custom typography config that overrides the font-family as well as the
//  'headlines' and 'body-1' levels.       
$custom-typography: mat-typography-config(
    $font-family: 'Roboto, monospace',
    $headline: mat-typography-level(32px, 48px, 700),
    $body-1: mat-typography-level(16px, 24px, 500)
);

//  Override the typography in the core CSS.
@include mat-core( $custom-typography );

@import "~@fontsource/material-icons/index.css";

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

// @import "styles/fontawesome-free-6.4.2-web/css/fontawesome.min.css";
// @import "styles/fontawesome-free-6.4.2-web/css/solid.min.css";
